<table class="table">
    <thead>
        <tr class="text-muted">
            <th scope="col" class="p-3">Id</th>
            <th scope="col" class="p-3">Nombre completo</th>
            <th scope="col" class="p-3">Email</th>
            <th scope="col" class="p-3">Telefono</th>
            <th scope="col" class="p-3">NIT</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients">
            <td class="p-3">{{ client.id }}</td>
            <td class="p-3">
                <div class="d-flex align-items-center">
                    <img
                        [src]="client.avatar"
                        width="35px"
                        height="35px"
                        alt="Avatar"
                        class="rounded-circle"
                        style="object-fit: cover;"
                    >
                    <span class="ms-3">{{ client.fullname }}</span>
                </div>
            </td>
            <td class="p-3">{{ client.email }}</td>
            <td class="p-3">{{ client.phone }}</td>
            <td class="p-3">{{ client.NIT }}</td>
        </tr>
    </tbody>
</table>