<div class="card border-0 bg-white">
    <div class="card-body d-flex align-items-center">
        <div class="avatar-icon text-white bg-{{ sticker.color }}-gradient rounded-3">
            <i class="{{ sticker.icon }} m-0" style="font-size: 30px;"></i>
        </div>
        <div class="ms-3">
            <small class="text-muted m-0">{{ sticker.subtitle }}</small>
            <h1 class="m-0">
                <strong>{{ sticker.title }}</strong>
            </h1>
        </div>
    </div>
</div>
