<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="d-flex align-items-center text-muted">
                <i class="bx bx-list-ul nav_logo-icon"></i>
                <p class="m-0 ms-2">Categorias</p>
            </div>
        </div>
        <div class="col-12 pb-5">
            <mat-chip-list cdkDropListOrientation="horizontal">
                <mat-chip *ngFor="let category of categories">
                    {{ category.name }}
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="d-flex align-items-center text-muted">
                <i class="bx bxs-box nav_logo-icon"></i>
                <p class="m-0 ms-2">Productos</p>
            </div>
        </div>
        <div
            *ngFor="let product of products"
            class="col-12 col-sm-6 col-lg-4 p-2"
        >
            <product-card [product]="product"></product-card>
        </div>
    </div>
</div>